# Nix
result*

# Java
target/
**/bin/

# Misc
.*

# Allowed
!.envrc
!.files/
!.files/**
!.github/
!.github/**
!.githooks/
!.githooks/**

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
